@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);

.datepickerdropdown {
  font-family: Roboto;
  background:#749d9e; 
  background: -webkit-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -o-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -moz-linear-gradient(#749d9e, #b3a68b)!important; 
  background: linear-gradient(#749d9e, #b3a68b)!important;
  padding:10px; 
  position:absolute;
  text-align:center;
}
.datepickerdropdown table {
  color: #fff;
  font-size:14px;
  font-weight: 700;
  margin:auto;
}
.datepickerdropdown input {
  color: #fff;
  font-size:14px;
  font-weight: 700;
  border:1px solid #ccc;
  border-radius:3px;
  margin:1px;
  padding:2px 5px;
  text-align:center;
}
.datepickerdropdown table input[type=button] {
  background-color: transparent;
  width:2em;
}

.datepickerdropdown input[type=button]:hover {
  background:#ffa5b3;
}
.datepickerdropdown input[type=button]:active {
  padding:2px 4px 2px 6px;
}      
.datepickerdropdown input.selected {
  background:#aeb8f9;
}
.datepickerdropdown input[type=text] {
  background:#fff;
  font-size: 13px;
  color:#000;
}
.datepickerdropdown input.today {
  background:#a3f7a8;
  border:1px solid red;
}
.datepickerdropdown input.othermonth {
  color:#ccc;
  border:1px solid #bbb;
}
.monthDsp
{
width:80px;
font-size:9px;
}
.daysRow
{
font-size:12px;
}
